.schedule{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    padding: 0 30px;
    margin: 0 auto 48px auto;
}
.title{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 24px;
}
.subtitle{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color:#344051;
}
.dates{
    background-color:#F5F5F8;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding:2px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}
.input{
    appearance: none;
}
.date_label{
    display: inline-block;
    padding: 10px 16px;
    border-radius: 14px;
    border:none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:#637083;
}
 .input:checked ~ .date_label{
    background-color:#9534d2;
    color:#ffffff;
}
.halls{
    display: flex;
    flex-direction: column;
}
.seances{
    display: flex;
    flex-direction: row;
    margin: 16px 0 24px;
    flex-wrap: wrap;
}
.element{
    margin: 2px;
}
.time_label{
    display: inline-block;
    padding: 10px 16px;
    border-radius: 14px;
    border: 1px solid #CED2DA;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:#637083;
}
.input:checked ~ .time_label{
    background-color:#9534d2;
    color:#ffffff;
}
@media (max-width: 1019px){
    .schedule{
        padding: 0 20px;
    }
    
}
@media (max-width: 768px){
    .title{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
    }
}
@media (max-width: 426px){
    .schedule{
        padding: 0 10px;
    }
}