.schedule{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    padding: 0 30px;
    margin: 0 auto 48px auto;
}
.title{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 24px;
}
.dates{
    background-color:#F5F5F8;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding:2px;
    margin-bottom: 24px;
}
.input{
    appearance: none;
}
.date_label{
    background-color:#F5F5F8;
    padding: 10px 16px;
    border-radius: 14px;
    border:none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:#637083;
}
.input:checked ~ .date_label{
    background-color:#9534d2;
    color:#ffffff;
}
.halls{
    display: flex;
    flex-direction: column;
}
.seances{
    display: flex;
    flex-direction: row;
    margin: 16px 0 24px;
}
.element{
    margin: 0 2px;
}
.time_label{
    background-color:#F5F5F8;
    padding: 10px 16px;
    border-radius: 14px;
    border: 1px solid lightgray;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:#637083;
}
.input:checked ~ .time_label{
    background-color:#9534d2;
    color:#ffffff;
}