.hall{
    margin: 24px 0;
}
.choice_place {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.room {
    display: flex;
    flex-direction: column;
}
.title {
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 24px 0;
}
.row_title {
    margin-left: -20px;
    font-size: 14px;
}
.row {
    display: flex;
    position: relative;
}
.row_name {
    position: absolute;
    top: 9px;
    left: -20px;
    font-size: 14px;
}
.screen_title {
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin: 8px;
}
.screen {
    height: 4px;
    width: 100%;
    background-color: #ced2da;
    border-radius: 16px;
    margin-bottom: 24px;
}
@media (max-width: 1019px) {
    .choice_place {
        flex-direction: column;
        align-items: center;
    }
    .row_name {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
    }
    .row_title {
        margin-left: -14px;
        font-size: 10px;
    }
    .row_name {
        top: 0;
        left: -14px;
        font-size: 10px;
    }
}
