.container{
    display:flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;
}
.label{
    font-size: 14px;
}
.input {
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 7px;
}
.input:hover{
    border-color: black;
}
.input:focus{
    outline: none;
    border-color: #9534d2;
    box-shadow: 0 0 0 1px #9534d2;
}
