.title{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 24px;
}
.subtitle{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color:#344051;
}
.dates{
    background-color:#F3F4F6;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding:2px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}
.date{
    display: flex;
    align-items: center;
}
.date::after{
    content:"";
    height: 24px;
    width: 1px;
    background-color: #CED2DA;
}
.date:last-child::after{
    content:"";
    width: 0;
}
.date > input,
.time > input{
    appearance: none;
}
.date label{
    display: inline-block;
    padding: 10px 16px;
    border-radius: 14px;
    border:none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:#637083;
}
.date > input:checked ~ label{
    background-color:#9534d2;
    color:#ffffff;
}
.seances{
    display: flex;
    flex-direction: column;
}
.times{
    display: flex;
    flex-direction: row;
    margin: 16px 0 24px;
    flex-wrap: wrap;
}
.time{
    margin: 2px;
}
.time label{
    display: inline-block;
    padding: 10px 16px;
    border-radius: 14px;
    border: 1px solid #CED2DA;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:#637083;
}
.time > input:checked ~ label{
    background-color:#9534d2;
    color:#ffffff;
}
@media (max-width: 768px){
    .title{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
    }
}