.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #ced2da;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 1020px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
    margin: 24px 0;
}
.page_header {
    display: flex;
    justify-content: space-between;
}
.left,
.right {
    display: flex;
    align-items: center;
    gap: 32px;
}
.movie_icon {
    display: none;
}
.afisha {
    display: none;
}
.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #344051;
    font-weight: 500;
    height: fit-content;
}
.link:hover {
    color: $primary;
    cursor: pointer;
}

@media (max-width: 1019px) {
    .left,
    .right {
        gap: 30px;
    }
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 700px) {
    .page {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        background-color: #ffffff;
    }
    .container {
        padding: 0;
        margin: 0;
    }
    .left {
        width: 100%;
        gap: 0;
    }
    .right {
        display: none;
    }
    .link {
        width: 33.33333%;
        flex-direction: column;
        gap: 2px;
        color: #637083;
        font-weight: 400;
        padding: 10px 0;
    }
    .label {
        font-size: 10px;
        line-height: 12px;
    }
    .logo_icon {
        display: none;
    }
    .movie_icon {
        display: block;
    }
    .afisha {
        display: block;
    }
}
