.pageHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #ced2da;
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  padding: 0 30px;
  width: 100%;
  margin: 22px 0;
}
.left,
.right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.block{
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap:16px;
}
.link {
  font-weight: 500;
  
}
.link:hover {
  color: #9534d2;
  cursor: pointer;
}
@media (max-width: 1019px) {
  .left,
  .right {
    gap: 30px;
  }
}
@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
  .link{
    display: none;
  }
  .block:before{
    content:'';
    position:absolute;
    top:-10px;
    left:-10px;
    width: 40px;
    height:40px;
  }
}
