.ticket_inf{
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.block{
    margin-bottom: 24px;
}
.title{
    font-size: 12px;
    line-height: 16px;
    color: #637083;
}
.inf{
    color: #141C24;
}
.elem::after{
    content: ", ";
}.elem:last-child::after{
    content: "";
}
.price{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}