$primary: #9534d2;
$primary-hover: #a03de0;
$primary-active: #7428a1;

$default: #ffffff;
$default-hover: #f3f4f6;
$default-active: #edeef1;

$link: #637083;
$link-hover: #556074;
$link-active: #464f5e;

$font-color: #141c24;