* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    overflow-y: scroll;
}
a {
    text-decoration: none;
    color: #344051;
    font-weight: 500;
}
a:hover {
    color: #f4511e;
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}
li {
    list-style: none;
    display: inline;
}
h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: $font-color;
    margin-bottom: 24px;
}
h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: $font-color;
    margin-bottom: 24px;
}
h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #292929;
    margin-bottom: 8px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 464px;
}
